.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.theme-btn img {
  padding: 40px;
  height: 100%;
  width: 100%;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}

:root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
  --bg-url: url("/images/bg-desktop-light.jpg");
  --todo-bg: white;
  --btn-hover: #494c6b;
  --border-color: #e3e4f1;
  --txt-color: black;
}

:root.dark {
  --bg-color: #121212;
  --text-color: #45adfe;
  --bg-url: url("/images/bg-desktop-dark.jpg");
  --todo-bg: #25273d;
  --btn-hover: #e3e4f1;
  --border-color: #393a4b;
  --txt-color: white;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

.banner {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 15px;
  order: 0;
  flex: 1;
  align-self: auto;
}
.header-grid {
  display: flex;
  justify-content: flex-start;
}

.toggle-container {
  order: 0;
  flex: 1;
  text-align: center;
}

.grid-todo {
  flex: 1;
  text-align: center;
}

.todo_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

.filter-categories {
  background: var(--todo-bg);
  padding: 1.9rem 2.4rem;
  display: inline-block;
  border-bottom: 1px solid var(--border-color);
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -100%);
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

.preload-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  color: var(--bg-color);
}

body {
  font-size: 1.8rem;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #9495a5;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-family: inherit;
}

.btn--bold {
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: var(--btn-hover);
  /* color: #494C6B; */
}

p.btn {
  pointer-events: none;
}

p.btn:hover {
  color: inherit;
}

.main__container {
  width: 100vw;
  min-height: 100vh;
  background: var(--bg-url);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: 100vw auto ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.todo {
  width: 100%;
  max-width: 540px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0 0 0;
}

.logo__title {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 15px;
}

.btn--theme {
  background-color: transparent;
  border: none;
}

.todo__header {
  width: 100%;
  background-color: var(--todo-bg);
  padding: 2rem 2.4rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
  border: 1px solid var(--border-color);
}

.todo__header label {
  position: absolute;
  left: -25vw;
}

.todo__circle,
.todo__check {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  background: transparent;
}

.todo__input,
todo__input::-webkit-input-placeholder {
  font-size: 1.8rem;
  border: none;
  font-family: inherit;
  line-height: 2rem;
  flex: 1 0;
  margin-left: 2rem;
  background: transparent;
  color: var(--txt-color);
}

.todo__input:focus {
  outline: none;
}

.todo__list {
  border-top: 1px solid var(--bg-color);
  border-left: 1px solid var(--bg-color);
  border-right: 1px solid var(--bg-color);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.todo__list:first-child {
  overflow: hidden;
}

.todo__elem {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  padding: 2rem 2.4rem;
}

.todo__elem p {
  flex: 1;
  margin-left: 2rem;
}

.todo__elem--hide {
  display: none;
}

.todo__elem--checked p {
  color: var(--text-color);
  text-decoration: line-through;
}

.todo__check {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: white; */
  transition: border 0.5s ease-in-out;
}

.todo__elem--checked .todo__check {
  background: linear-gradient(to right, #55ddff, #c058f3);
}

.todo__elem:hover > .todo__check {
  /* background: linear-gradient(to right, #55DDFF, #C058F3);  */
  border: 1px solid #c058f3;
}

.todo__delete {
  background: transparent;
  border: none;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
[data-theme="darkTheme"] .todo__delete {
  color: #979797;
}

.todo__elem:hover > .todo__delete {
  transform: scale(1);
}

.todo__filters__sides {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);

  padding: 2rem 2.4rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.todo__filters__center {
  background: var(--bg-color);
  padding: 3rem 2.4rem;
  display: inline-block;
  border-bottom: 1px solid #e3e4f1;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -100%);
}

.todo__filters__center label {
  background: transparent;
  margin: 0 0.8rem;
}

.todo__filters__center input[type="radio"] {
  display: none;
}

.todo__filters__center input[type="radio"]:checked + label {
  color: #3a7cfd;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 738px) {
  html {
    font-size: 47%;
  }
  .main__container {
    padding: 0 15%;
    background: url("../img/bg-mobile-light.jpg");
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: 100vw auto ; */
    /* display: flex;
      flex-direction: column;
      align-items: center;
      position: relative; */
  }

  .todo {
    width: 100%;
    min-width: 327px;
  }

  .todo__filters__center {
    position: static;
    display: block;
    transform: none;
    margin-top: 1.5rem;
    text-align: center;
    border: 1px solid #e3e4f1;
    /* width: 100%; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  footer {
    /* position: static;  */
    margin: 2rem 0;
    text-align: center;
    line-height: 3rem;
  }
}
